<server description="new server">

    <!-- Enable features -->
    <featureManager>
        <feature>openapi-3.0</feature>
	<feature>jaxrs-2.0</feature>
    </featureManager>

    <!-- To access this server from a remote client add a host attribute to the following element, e.g. host="*" -->
    <httpEndpoint host="*" httpPort="9080" httpsPort="9443" id="defaultHttpEndpoint"/>
    
    <webApplication id="airlines" location="oas3-airlines.war" name="airlines">
    	<classloader apiTypeVisibility="spec,ibm-api,api,stable, third-party"></classloader>
    </webApplication>
</server>
